<div class="basket-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/pvzPPsl3Xak/1600x900
    );">
  <div class="container">
    <h1 class="text-center pb-3">My Basket</h1>
  </div>
</div>
<div class="container mt-5 content">
  <h2 class="pb-2 text-center"><em><%= "Hmmmm... looks like your basket is empty. Add orders!" if @basket.orders.empty? %></em></h2>
    <div class="row">
      <% @basket.orders.each do |order| %>
        <div class="col-12 col-md-6 offset-lg-3">
          <div class="order-item mb-4">
            <%= cl_image_tag order.product.photo.key, width: 400, height: 300, crop: :fit %>
            <div class="order-item-infos">
              <h2 class= "mb-3"><%= order.product.name %></h2>
              <p style="font-size: 16px;">R$ <%= number_with_precision(order.product.price, precision: 2, separator: ',', delimiter: '.') %></p>
              <div class="d-flex align-items-center">
                <%= link_to  reduce_unit_order_path(order), method: :patch do %>
                  <i class="fas fa-minus-square" style="padding: 0 4px; margin-top: 10px; font-size: 18px; color:#72B8DB;"></i>
                <% end %>
                <p><%= order.quantity %></p>
                <%= link_to  add_unit_order_path(order), method: :patch do %>
                  <i class="fas fa-plus-square" style="padding: 0 4px; margin-top: 10px; font-size: 18px; color:#72B8DB;"></i>
                <% end %>
                <%= link_to order_path(order), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center py-5">
      <%= link_to 'Back', products_path, class: "btn btn-primary" %>
      <% if @basket.orders == 0 %>
        <%= link_to "Proceed to Checkout", checkout_basket_path(@basket), method: :patch, class:"btn btn-success ml-4" %>
      <% end %>
    </div>
</div>
