<div class="container mt-5 content">
  <div class="signature-cards">
  <% @signatures.each do |signature| %>
    <div class="grid-card">
        <%= image_tag "orange.jpg" %>
        <div class="card-product-infos">
          <div>
            <h2 class= "mb-3"><%= link_to signature.title, signature_path(signature.id), class: "text-decoration-none stretched-link"%></h2>
            <p><%= signature.description %></p>
            <p><%= signature.type_of %></p>
            <p><%= number_with_precision(signature.price, precision: 2, separator: ',', delimiter: '.') %> R$</p>
          </div>
        </div>
    </div>
  <% end %>
  </div>
</div>
