<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/D2o_oFFRYjk/1600x900
    );">
  <div class="container">
    <% if current_user %>
      <div class="container d-flex justify-content-center mt-2">
        <h1>Choose your basket, <%= current_user.first_name %>!</h1>
      </div>
    <% end %>
  </div>
</div>
<div class="container my-5 content">
  <div class="row">
    <% @signatures.each do |signature| %>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card-signature">
          <%= cl_image_tag signature.photo.key, width: 400, height: 300, crop: :fill %>
          <div class="card-signature-infos">
              <h2 class= "mb-3"><%= link_to signature.title, signature_path(signature.id), class: "text-decoration-none stretched-link"%></h2>
              <p><%= signature.description %></p>
              <p><%= signature.type_of %></p>
              <p><%= number_with_precision(signature.price, precision: 2, separator: ',', delimiter: '.') %> R$</p>
          </div>
        </div>
      </div> 
    <% end %>
  </div>
</div>
