<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <% if policy(Basket).show? && current_user.basket %>
          <div class="d-flex" style="position:relative;">
            <%= link_to basket_path(current_user.basket), class: "nav-link mr-2 fas fa-shopping-cart", style: "font-size:20px;" do %>
            <% end %>
            <% if @orders_count >= 0 %>
              <p id="refresh" class="text-center mb-0" style="position:absolute; margin-left: 22px; margin-top: 18px; font-size: 13px; font-weight: 500; 
                        border-radius: 50%; border: 2px solid black ; background-color: white; color:black; width: 20px; height: 20px"><%= @orders_count %></p>
            <% end %>
          </div>
        <% end %>
        <li class="nav-item dropdown">
          <%= image_tag "profile.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


