<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/D2o_oFFRYjk/1600x900
  );">
    <% if current_user %>
      <div class="container mt-2">
        <p class="hello-sentence"><%= t('.hello_sentence', name: current_user.first_name.capitalize) %>!</p>
        <p>
          <span class="hello-sentence" id="banner-typed-text"></span>
        </p>
      </div>
    <% else %>
      <div class="container mt-2">
        <p>
          <span class="hello-sentence" id="banner-typed-text"></span>
        </p>
      </div>
    <% end %>
</div>
<div class="container my-5 content" id="home-page-top">
  <div class="home-card">
    <div class="p-5">
      <p class="text-center"><%= t('.waste_numbers_sentence_html') %></p>
      <h3 class="text-center"><%= t('.join_us_html') %></h3>
      <p class="text-center pt-4" style="font-weight: 400;"><%= t('.want_to_know')  %> <a href="#mission"><%= t('.more_link')  %><svg viewBox="0 0 70 36">
            <path d="M6.9739 30.8153H63.0244C65.5269 30.8152 75.5358 -3.68471 35.4998 2.81531C-16.1598 11.2025 
            0.894099 33.9766 26.9922 34.3153C104.062 35.3153 54.5169 -6.68469 23.489 9.31527" /></svg></a>
      </p>
    </div>
    <div>
      <%= image_tag("foodbag.jpg", id: "main-picture") %>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="option-card">
    <h1 class="pb-3 text-center"><%= t('.option_sentence') %></h1>
    <div class="mb-4">
      <%= link_to t('.home_signatures_button'), signatures_path, class: "btn-homepage" %>
      <%= link_to t('.home_products_button'), products_path, class: "btn-homepage" %>
    </div>
  </div>
  <hr style="border-top: 1px solid rgba(0, 0, 0, 0.3); margin-top: 64px;">
</div>
<div class="container-fluid justify-content-around mb-5">
  <a name="mission"></a>
  <h1 class="pb-5 text-center"><%= t('.our_mission') %></h1>
  <div class="row align-items-stretch">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="mission-card mx-5 my-4">
        <img src="https://assets.londonist.com/uploads/2019/10/i875/wraphouseholdwasteedit_09.jpg" class="img-fluid"  alt="...">
        <div class="mission-card-body">
          <h5 class="card-title"><%= t('.beat_the_waste_card_title') %> 👍</h5>
          <p class="card-text"><%= t('.beat_the_waste_card_body') %></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="mission-card mx-5 my-4">
        <img src="https://laespanolaoliveoil.com/img/articulos/the-ugly-food-movement-rescuing-food-and-fighting-food-waste.jpg" class="img-fluid" alt="...">
        <div class="mission-card-body">
          <h5 class="card-title"><%= t('.ugly_food_card_title') %> 🥑</h5>
          <p class="card-text">
            <%= t('.ugly_food_card_body') %>
            </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="mission-card mx-5 my-4">
        <img src="https://source.unsplash.com/qgHGDbbSNm8/1000x650" class="img-fluid" alt="...">
        <div class="mission-card-body">
          <h5 class="card-title"><%= t('.join_the_community_card_title_html') %></h5>
          <p class="card-text"><%= t('.join_the_community_card_body_html') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="border-top: 1px solid rgba(0, 0, 0, 0.3); margin: 64px;">

