<div class="container py-5 mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="card " >
        <h1>Checkout  </h1>
          <h2> Please revise your purchase </h2>
          <h2> <%= @subscription.signature.title %></h2>
            <h3> that you'll receive on a <%= @subscription.signature.type_of %></h3>
              <h4> at a price of <%= @subscription.signature.price %></h4>


          <div class ="d-flex justify-content-around">
            <div class="d-flex justify-content-start pb-3 ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CheckoutModal">
            Confirm You signature
          </button>
          </div>

            <div class="d-flex justify-content-start pb-3">
              <%= link_to 'Cancel', signatures_path, class: "btn btn-outline-primary" %>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="CheckoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Confirmed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center">
        <h5>Congrats! You are participating actively to reduce wastes</h5>
        <p>Please send us your proof of payment</p>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <%= link_to 'home', root_path, type:"button", class:"btn-outline-primary" %>

      </div>
    </div>
  </div>
</div>




