<div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
    <div class="text-uppercase">
        <p>Checkout details</p>
    </div>

    <div >
        <p>Order  <b class="text-dark">#12615 </b></p>
    </div>

    <%= link_to signatures_path do %>
    <div class="btn close text-white"> &times; </div>
    <% end %>

</div>
<div class="wrapper bg-white">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr class="text-uppercase text-muted">
                    <th scope="col">signature: <b class="text-dark"><%= @subscription.signature.title %> </b></th>
                    <th scope="col" class="text-right">total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Frequency: <%= @subscription.signature.type_of %> </th>
                    <td class="text-right"><b>$<%= @subscription.signature.price %> </b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-start align-items-center list py-1">
        <div><b>1px</b></div>
        <div class="mx-3"> <img src="https://images.pexels.com/photos/206959/pexels-photo-206959.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="apple" class="rounded-circle" width="30" height="30"> </div>
        <div class="order-item"> <%= @subscription.signature.title %> </div>
    </div>

    <div class="pt-2 border-bottom mb-3"></div>
    <div class="d-flex justify-content-start align-items-center pl-3">
        <div class="text-muted">Payment Method</div>
        <div class="ml-auto"> <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt="" width="30" height="30"> <label>Mastercard ******5342</label> </div>
    </div>
    <div class="d-flex justify-content-start align-items-center py-1 pl-3">
        <div class="text-muted">Shipping</div>
        <div class="ml-auto"> <label>Free</label> </div>
    </div>
    <div class="d-flex justify-content-start align-items-center pb-4 pl-3 border-bottom">
        <div class="text-muted"> <button class="text-white btn">10% Discount</button> </div>
        <div class="ml-auto price"> <%= @discount %>  </div>
    </div>
    <div class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom">
        <div class="text-muted"> Today's Total </div>
        <div class="ml-auto h5"> <%= @total %> </div>
    </div>
    <div class="row border rounded p-1 my-3">
        <div class="col-md-6 py-3">
            <div class="d-flex flex-column align-items start"> <b>Billing Address</b>
                <p class="text-justify pt-2">Vila Aymoré</p>
                <p class="text-justify"> Rio de Janeiro</p>
            </div>
        </div>
        <div class="col-md-6 py-3">
            <div class="d-flex flex-column align-items start"> <b>Shipping Address</b>
                <p class="text-justify pt-2">Vila Aymoré</p>
                <p class="text-justify"> Rio de Janeiro</p>
            </div>
        </div>
    </div>
    <div class="pl-3 font-weight-bold">Summary Subsriptions</div>
    <div class="d-sm-flex justify-content-between rounded my-3 subscriptions">
        <div> <b>#12615</b> </div>
        <div> <%= @time %> </div>
        <div>Status: Processing</div>
        <div> Total: <b> R$ <%= @total %> for 1 item</b> </div>


    </div>

      <div class ="d-flex justify-content-around mt-1">
        <div class="d-flex justify-content-start pb-1 ">
          <button type="button" class="btn" data-toggle="modal" data-target="#CheckoutModal">
            Please Confirm You signature
           </button>
        </div>
      </div>






<!-- Modal -->
<div class="modal fade" id="CheckoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Confirmed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center">
        <h5>Congrats! You are participating actively to reduce wastes</h5>
        <p>You'll receive your order tomorrow</p>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <%= link_to 'home', root_path, type:"button", class:"btn-outline-primary" %>

      </div>
    </div>
  </div>
</div>




