<div class="container content py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="card mb-4">
        <%= image_tag "orange.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h3 class= "mb-3"><%= @product.name %></h2>
            <p> Until: <%= @product.expiration_date %></p>
            <p> R$ <%= @product.price %></p>
            <%= link_to product_orders_path(@product), method: :create, class:"btn btn-primary" do %>
              Add to cart <i class="fas fa-cart-plus"></i>
            <% end %>
          </div>
      </div>
    <%= link_to "Back", products_path, class: "nav-link", class: "btn btn-success" %>
    </div>
  </div>
</div>